# ASP.NET API
ZgadajSieAPI/.vs/
ZgadajSieAPI/ZgadajSieAPI/bin/
ZgadajSieAPI/ZgadajSieAPI/obj/
ZgadajSieAPI\ZgadajSieAPI\appsettings.Development.json

#React Client
client/node_modules
client/.env

#idea
.idea/
client/.idea/

