.autocomplete-control {
  background: #ffffff00;
  box-sizing: border-box;
  margin: 24px;
}

.main-page-sectionRight-map {
  display: block;
  position: fixed;
  right: 0px;
  margin: 150px 0 0 0;
  width: 56vw;
  height: 90vh;
}

.eventMapModal {
  display: block;
}
