.autocomplete-control {
  background: #ffffff00;
  box-sizing: border-box;
  margin: 24px;
}

.main-page-sectionRight-map {
  display: block;
  position: fixed;
  right: 0px;
  margin: 150px 0 0 0;
  width: 56vw;
  height: 90vh;
}

.eventMapModal {
  display: block;
}

@media (max-width: 500px) {
  .main-page-sectionRight-map {
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100vw;
    margin-bottom: -40vh;
  }
}
